.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .btn-primary {
      background-color: #0f9959;
  }

  .btn-primary:hover{
      background-color: #0c854c;
  }

  .btn-outline-secondary{
      background-color: #E34131;
      color: white;
  }

  .btn-outline-secondary:hover{
      background-color: #BE211E;
  }
